# Xcode
.DS_Store
xcuserdata/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# Build
build/
*.o
*.dSYM.zip
*.dSYM
*.xcbkptlist

# Swift Package Manager
.swiftpm/
Package.resolved
